<% if resource.errors.any? %>
  <div class="rounded-xl border border-red-500/30 bg-red-950/30 px-5 py-4 text-sm text-red-200 space-y-1">
    <p class="font-medium text-red-100">
      <%= pluralize(resource.errors.count, "error") %> prevented sign-in:
    </p>
    <ul class="list-disc list-inside text-xs opacity-90">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
